.swiper-button-next, .swiper-button-prev {
  color: #3483fa;
  width: 4%;
  height: 16%;
  top: 40%;
}

.swiper-button-prev{
  left: 0;
  right: auto;
}

.swiper-button-next{
  right: 0;
  left: auto;
}

.swiper-button-prev::after, .swiper-button-next::after{
  font-size: 14px;
}

.divisor{
  position: relative;  /* colocar elemento no html como container de todos os elementos e add Relative */ 
  display: block;
  unicode-bidi: isolate;
}

.gradient{
  background: linear-gradient(180deg, transparent, #ebebeb);
  bottom: 0;
  position: absolute; /* elemento filho do .divisor com absolute*/
  height: 30%;
  left: 0;
  width: 100%;
  z-index: 3;
}

#hero{
  position: relative;
}


