#cards-section{
  height: 24vh;
}

.card p:hover{
  color: #3483fa;
  cursor: pointer;
}

.titulo a:hover{
  color: #3483fa;
}

.container-cards{
  position: absolute;
  top: 52%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
  z-index: 100;
  width: 100%;
  height: 35%;
  flex-wrap: wrap;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  width: 180px;
  height: auto;

  background-color: #fff;
  font-size: 14px;
  padding: 1rem;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}

.card h2{
  font-weight: 600;
}

.card a{
  font-size: 12px;
  color: #3483fa;
  font-weight: 600;
  height: 25px;
  line-height: 12px;
  padding: 6px 8px;
  border-radius: 4px;
  text-align: center;
  text-overflow: ellipsis;
  margin-top: 1rem;
  background-color: #caddf89a;
}

.img-card{
  width: 100%;
  display: flex;
  /* background-color: red; */
}
 .img-card img{
  padding: 1.3rem;
 }

