/* HEADER */

.container-menu{
  background-color: #FFE600;
}

.wrapper-menu{
  padding: 0.6rem 10.5rem;
}

.menu{
  display: flex; 
  /* padding: 0.6rem 4.5rem; */
  justify-content: space-between;
  align-items: center;
}

.nav-menu{
  padding-top: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.links-menu, .links-paginas{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-size: 14px;
  padding-top: 1rem;
  flex-wrap: wrap;
}

.links-paginas li a{
  font-size: 14px;
}

.links-menu a img{
  width: 100%;
}

.disney{
  max-width: 30%;
  text-align: end;
}

.disney img{
  width: 90%;
}

.logo a img{
  width: 70%;
}

.logo{
  max-width: 180px;
}

.nav-menu .cep{
  display: flex;
}

.cep p{
  display: grid;
  font-size: 14px;
}

.nav-menu .cep span{
 font-weight: 600;
}

/*pesquisa*/

.busca{
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.4rem;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  width: 38em;
  border-radius: 4px;
}

.busca img{
  width: 18px;
  margin: 0.4rem;
}

.busca input{
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0.8rem;
  width: 100%;
}

.busca input::placeholder{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}




