#mais-vendidos{
  padding: 1rem 10.5rem;
  height: auto;
}

.container-produtos{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 52vh;

  /* margin-top: 1rem; */
  /* padding: 20px; */
}

.oferta-principal, .oferta-dia{
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
  padding: 1rem;
  margin: 0 0.5rem;
  height: 100%;
  border-radius: 6px;
}

.oferta-principal{
  width: 30%;
}

.oferta-dia{
  width: 70%;
}

