@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./header.css");
@import url("./cards.css");
@import url("./mais-vendidos.css");
@import url("./mercadoPlay.css");
@import url("./rodape.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

main{
  background-color: #ebebeb;
}

/* banner */
#hero img {
  width: 100%;
  height: auto;
  min-height: 400px;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  position: initial;
  margin: 0;
  background-color: #ffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.swiper-button-prev {
  border-bottom-right-radius: 64px;
  border-top-right-radius: 64px;
}

.swiper-button-next {
  border-bottom-left-radius: 64px;
  border-top-left-radius: 64px;
}

.swiper-pagination {
  position: initial;
  margin: 7rem 0;
}

#cards {
  height: 50vh;
  display: block;
  unicode-bidi: isolate;
  z-index: 4;
}

.swiper-slide:hover{
    display: block;
}
